<% form_for :order, :url => orders_url, :html => {:id => 'cart-form'} do |f| %>

  <% if product_price(@product) %>
  <p class="prices" id="master_price">
    <%= t("price") %>
    <span class="price selling"><%= product_price(@product) %></span>
  </p>
  <% end %>


  <% if @product.option_types.any? %>
    <h3>Configure your product</h3>
    
    <p>
      <strong>Basic price</strong>
      <%= format_price @product.master_price %>
    </p>

    <% for option_type in @product.option_types %>
    <p>
      <label><%= option_type.presentation %></label><br />
      <%= product_configuration_select option_type %>
    </p>
    <% end %>

    <% content_for :head do %>
      <% javascript_tag do %>
        update_configuration_price_url = "<%= escape_javascript update_configuration_price_product_path(@product) %>";
      <% end %>
      <%= javascript_include_tag 'product-configuration' %>
    <% end %>
    
  <% end %>


  <p><%=
  if @product.has_stock? || Spree::Config[:allow_backorders]
    submit_tag t('add_to_cart')
  else
    content_tag('strong', t('out_of_stock'))
  end
  %></p>




<% end %>
